<h1>Essa é a pagina secreta!</h1>

<p>Vc me achou!</p>

<img src="https://i.ytimg.com/vi/JqtJJ29LZOA/maxresdefault.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>